{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .player-info {
            width: 400px;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .player-detail {
            margin-bottom: 10px;
        }

        .player-label {
            color: #666;
            margin-bottom: 6px;
        }
        .action-box {
            display: flex;
            align-items: center;
            justify-content: left;
            margin-bottom: 10px;
        }

        .action-icon {
            height: 30px;
            background-color: #5cb85c;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            padding: 5px;
        }
        select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            margin-bottom: 10px;
            width: 200px;
        }
        select option {
            background-color: #fff;
            color: #000;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            text-align: center;


        }
        h3{
            text-align: center;
        }
        .button-attack {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #c93333;
            color: white;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
        }





    </style>
{% endblock %}

{% block body %}
    <div class="player-info">
        <h2>Player Information</h2>
        <div class="player-detail">
            <span class="player-label">Nom:</span>
            <span>{{ player.nom }}</span>
        </div>
        <div class="player-detail">
            <span class="player-label">Points de Vie:</span>
            <span>{{ player.pv }}</span>
        </div>
        <div class="player-detail">
            <span class="player-label">Mana:</span>
            <span>{{ player.mana }}</span>
        </div>
        <div class="player-detail">
            <span class="player-label">Attaque Physique:</span>
            <span>{{ player.ap }}</span>
        </div>
        <div class="player-detail">
            <span class="player-label">Attaque Magique</span>
            <span>{{ player.ad }}</span>
        </div>
        <div class="action-box" >
            <a class="action-icon" style="color: black" href="http://127.0.0.1:8000/player/show_all">Retour arriere</a>
        </div>
        <h3>Qui attaquer ?</h3>
        <form action="http://127.0.0.1:8000/player/attack/{{ player.id }}" method="post">
            <label>
                <select name="selected_player">
                    {% for player in players %}
                        <option value="{{ player.id }}">{{ player.nom }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                <select name="selected_attack_type">
                    <option value="Attaque Physique">Attaque Physique</option>
                    <option value="Attaque Magique">Attaque Magique</option>
                </select>
            </label>
            <button type="submit" class="button-attack">Attaquer</button>
        </form>

    </div>
{% endblock %}



