<style>
    table {
        border-collapse: collapse;
        width: 100%;    
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Identifiant</th>
        <th>Mot de passe</th>
        <th>Delete</th>
        <th>Modifier</th>
    </tr>

    {% for user in users %}

    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.identifiant }}</td>
        <td>{{ user.password }}</td>
        <td>
        <form action="http://127.0.0.1:8000/user/delete/{{user.id}}" method="post">
            <input type="submit" value="Supprimer">
        </form>
        </td>
        <td>
            <form action="http://127.0.0.1:8000/formulaire_update/{{user.id}}" method="get">
                <input type="submit" value="Modifier">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
